body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    height: 50vh; /* Take up half the height of the viewport */
}
.full-width {
    width: 100%;
    height: 100%; /* Take up all the height of its parent */
    max-height: 600px;
    overflow: auto; /* Add a scrollbar when necessary */
    background-color: #f0f0f0; /* Light grey background to make it visible */
}
.half-width {
    width: 49%;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    overflow: auto;
}
.button-row {
    height: 50px; /* or whatever height you want */
    justify-content: flex-start;
}

/* Style for Blockly toolbox tabs */
.toolbox-tab {
    background-color: #2196F3; /* Set the background color */
    color: white; /* Set the text color */
    padding: 5px 10px; /* Add some padding */
    margin: 2px 0; /* Add margins to separate tabs */
    cursor: pointer; /* Change the cursor on hover to indicate interactivity */
}

/* Style for the selected tab */
.toolbox-tab.toolbox-tab-selected {
    background-color: #1976D2; /* Change the background color for the selected tab */
}

/* Optional hover effect */
.toolbox-tab:hover {
    background-color: #1976D2;
}
