/* Base styling */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;  /* Set a standard font for better readability */
}

#blocklyDivContainer {
    display: flex;
    flex-wrap: nowrap;  /* Prevent wrapping for better layout consistency */
    justify-content: space-between;
    height: 100vh;
    padding: 15px;  /* Add some padding for a more spacious look */
    background-color: #fafafa;  /* Light gray background for contrast */
}

#blocklyDiv {
    flex: 1;
    min-width: 50%;
    max-width: 70%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;  /* Use a white background for better block visibility */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
}

#blocklyButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Align items vertically for better presentation */
    padding: 10px 0;
}

.button-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.toolbox-tab {
    background-color: #2196F3;
    color: #ffffff;
    padding: 8px 24px;  /* Increased padding for a more clickable feel */
    margin: 0 4px;  /* Even spacing on left and right for better alignment */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;  /* Added transform transition */
    display: inline-block;
    border-radius: 4px;  /* Rounded corners for a modern look */
}

.blocklyToolboxDiv .blocklyTreeRow {
    padding: 6px 12px;  /* Increased padding for a better touch feel */
}

.toolbox-tab.toolbox-tab-selected, .toolbox-tab:hover {
    background-color: #1976D2;
    transform: scale(1.05);  /* Slight increase in size for a dynamic feel on hover/select */
}

.blocklyWorkspace .blocklyBlock {
    margin-bottom: 10px; 
}

.blocklyBlock {
    border: 1px solid rgba(0, 0, 0, 0.2);  /* Lighter border for a softer look */
    border-radius: 6px;
    transition: box-shadow 0.3s;  /* Transition for shadows */
}

.blocklyBlock:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Shadow on hover for a dynamic feel */
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
