body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#blocklyDivContainer {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align to the start of the container */
    height: 100vh;
}

#blocklyDiv {
    flex: 1; /* Takes available space */
    min-width: 50%;
    max-width: 70%;
    overflow: auto;
    background-color: #f0f0f0;
    margin-bottom: 20px; /* Adjusts space for the button row */
}

#blocklyButtons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0; /* Adds padding on top and bottom */
}

/* Rest of the styles remain unchanged */

.toolbox-tab {
    background-color: #2196F3;
    color: white;
    padding: 5px 20px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.blocklyToolboxDiv .blocklyTreeRow {
    padding: 4px 0;
}

.toolbox-tab.toolbox-tab-selected {
    background-color: #1976D2;
}

.toolbox-tab:hover {
    background-color: #1976D2;
}

.blocklyWorkspace .blocklyBlock {
    margin-bottom: 8px;
}

.blocklyBlock {
    border: 1px solid #000;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
